# Binarios
bin/
*.exe

# Database
*.db
*.db-shm
*.db-wal

# SQLC generated (se regenera con sqlc generate)
internal/repository/db.go
internal/repository/models.go
internal/repository/querier.go

# Environment
.env
.env.local

# Logs
*.log

# Test
coverage.out
coverage.html

# OS
.DS_Store
Thumbs.db